a {
  text-decoration: none;
  padding: 16px 12px;
  margin-bottom: 10px;
}

a:visited {
  color: inherit;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab {
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
}

.active-tab {
  border-bottom: 2px solid #1976d2;
  color: #1976d2 !important;
}

input {
  width: 100%;
  border: none;
  outline: none;
}
